:root {
    --sans-serif-font: 'LXGW WenKai Screen', Helvetica, Arial, sans-serif !important;
    --serif-font: 'LXGW WenKai Screen', 'Source Serif', 'Georgia', serif !important;
    --code-font: 'LXGW WenKai Mono Screen', 'Cascadia Code' !important;
}

/* Homepage */
#banner-home-img {
    border-radius: 50%;
    object-fit: cover;
}

/* Markdown image */
p img {
    display: inline-block !important;
}

/* Ident */
section.e-content p:not(section.footnotes p, li p) {
    text-indent: 2em;
}

/* Title should be bold */
section h1, section h2, section h3, section h4, section h5, section h6 {
    font-weight: bold;
}

iframe {
    margin-inline-start: 0% !important;
    margin-inline-end: 0% !important;
    max-width: 100% !important;
}
